body{
    margin:  auto;
    padding: auto;
    background: #1f2431;
    color: lightgray;
    font-family: arial;
    
}

header{
    background: linear-gradient(45deg,#15232b 0%,
    #1f2431 50%,
    #15232b 100%);
}

.top-bar{
    top: 0px;
    position: fixed;
    height: 40px;
    width: 100%;
    /* border-bottom: 1px solid gray; */
    background: #141822;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3),
     0px 4.5px 2px rgba(0, 0, 0, .1);
    z-index: 100;
}

.socials{
    margin: auto;
    padding: 5px 15% 0 0;
    text-align: right;
}

.social-icon{
    border-radius: 10px;
}


.social-icon:hover{
    cursor: pointer;
    filter: brightness(60%);
}

.wrapper{
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}



/* .profile-wrapper{
    width: 235px;
    height: 230px;
    position: absolute;
    top: 1%; 
    left: 45%;
} */

.profile-wrapper{
    margin-top: 20px;
}

.picture{
    /* margin-left: 42.5px; */
    /* display: block; */
    margin: auto;
    padding: auto;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.profile-wrapper .name{
    text-align: left;
}

/* ========================================================= */

.line{
    border-top: 1px solid gray;
    margin-bottom: 30px;
}

/* ========================================================= */
.nav-wrapper{
    /* min-width: 261px; */
    min-width: 600px;
}

.nav-bar{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #201f1f;
    /* position: absolute;
    top: 26%; */

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* .nav-bar #nav-home{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} */

ul.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
    
}

ul.nav-ul li {
    float: left;
    /* border-right: solid 3px #1f2431;
    border-top: solid 3px #1f2431;
    border-bottom: solid 3px rgb(68, 76, 102); */
}

ul.nav-ul li a:hover{
    background-color: rgba(0,0,0,0.5);
}

ul.nav-ul li a{

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px 18px;
    text-decoration: none;    
}

.blank-list-item{
    color: #1f2431;
    background-color:#1f2431;
    padding-bottom: 32px;
}

/* ========================================================= */

.main-wrapper{
    margin: auto;
    min-width: 600px;
    text-align: center;
}

/* ========================================================= */

.flex-container {
    display: flex;
    background-color: #201f1f;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}
  
.flex-container > div {
    /* background-color: red; */
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

/* ========================================================= */
.language-table-block{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #201f1f;
    border-radius: 10px;
}

table.table-lang{
    /* display: inline-block;
    text-align: center; */
    width: auto;
    height: auto;
}

table.table-lang, tr{
    margin: auto;
    padding: auto;
    width: 300px;
    height: auto;
    text-align: center;
}

table.table-lang, tr, th{
    margin: auto;
    padding: 10px 20px 10px 20px;
    width: 300px;
    height: auto;
    border: 3px solid red;
    border-collapse: collapse;
    color: white;
    
}
table.table-lang, tr, td{
    width: 300px;
    padding: 10px 20px 10px 20px;
    text-align: left;
}


.main-wrapper .language-image-block{
    margin: auto;
    background: #201f1f;
}

/* /////////////////////Slideshow//////////////////////////// */
.slideshow-container {
    max-width: 1400px;
    position: relative;
    margin: auto;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
    text-align: center;
}

/* Images used in slides */
.project-images{
    width: 100%;
    height: 500px;
    border-radius: 10px 20px 20px 10px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 9%;
    height: 200px;
    width: auto;
    margin-top: 0px;
    padding: 16px;
    padding-top: 200px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 10px 0 0 10px;
    color: lightgray;
}
.prev {
    left: 0;
    border-radius: 0px 10px 10px 0px;
    color: black;
}

/* On hover, add a black background color with a little bit see-through */
.next:hover {
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
}
.prev:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: lightgray;
}

/* Caption text */
.caption-block {
    padding-top: 0px;
    font-style: bold;
    color: lightgray;
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60%;
    height: 500px;
    background: #201f1f;
    border-radius: 0px 10px 10px 0px;
}

.caption-desc{
    margin: auto;
    padding-left: 30px;
    text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding-left: 49%;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgb(46, 46, 46);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
    -moz-animation-name: fade;
    -moz-animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@-moz-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* /////////////////////Slideshow//////////////////////////// */

/* [[[[[[[[[[[[[[[[[[[[[ School Container ]]]]]]]]]]]]]]]]]]]]]] */

.school-container{
    margin: auto;
    background-color: #201f1f;
    position: relative;
    max-width: 1400;
    width: 100%;
    height: 503px;
    border-radius: 10px;
}

.school-figure{
    background: #326380;
}

.paramount-figure{
    position: absolute;
    top: 8%;
    left: 0%;
    border-radius: 10px;
    caption-side: top;
}

.paramount-logo{
    border-radius: 10px;
}

.lbcc-figure{
    position: absolute;
    bottom: 8%;
    left: 0%;
    border-radius: 10px;
    caption-side: top;
}

.lbcc-logo{
    border-radius: 10px;
}

.school-caption{
    padding-bottom: 5px;
}

.lbcc-ul{
    text-align: left;
    height: auto;
    width: 400px;
    position: absolute;
    list-style-position: inside;
    list-style-type: square;
    /* background-color: red; */
    font-weight: bold;
    font-size: 22px;
    left: 20%;
    bottom: 20%;
}

.paramount-ul{
    text-align: left;
    height: auto;
    width: 400px;
    position: absolute;
    list-style-position: inside;
    list-style-type: square;
    /* background-color: red; */
    font-weight: bold;
    font-size: 22px;
    left: 20%;
    top: 20%;
}

/* ========================================================= */

.experience-container{
    margin-bottom: 30px;
    background-color: #201f1f;
    position: relative;
    width: 100%;
    height: 503px;
    border-radius: 10px;
}

/* ========================================================= */

.blink{
    border-top: 1px solid gray;
}

.footer{
    /* -webkit-box-shadow: 0 -2px 2px 2px rgba(0,0,0,.3);
    box-shadow: 0 -2px 2px 2px rgba(0,0,0,.3); */
    position: relative;
    text-align: right;
}
