@import "tailwindcss";
/*html {*/
/*    scrollbar-color: red red;*/
/*}*/

:root {
    --background-color: #282828;
    --background-color-secondary: #928374;

    --text-color-primary: #fbf1c7;
    --text-color-secondary: #ebdbb2;
    --text-color-third: #d5c4a1;
    --text-color-fourth: #bdae93;
    --text-color-fifth: #a89984;
}

::selection {
    background-color: #8ec07c;
    color: #1c1b1b;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.main-wrapper {
    /* margin-left: 70px; */
    position: relative;
    height: auto;
    width: 100%;
    min-width: 58rem
}

.sections .git-icon {
    position: absolute;
    width: 45px;
    top: 10px;
}

.sections > img:hover {
    opacity: 20%;
    border-radius: 90px;
}

.section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.two {
    background-color: #121222;
    /* color: #2CDA9D; */
    width: 100%;
    min-width: 60rem;
    height: 110rem;
    position: relative;
    /* display: block; */
    /* min-height: 100em; */
}

.two .title {
    font-size: 3pc;
    margin: 0px;
    padding: 10rem 0 0 10rem;
    display: block;
}


/* .two .two-inner{    
    position: relative;
    overflow: hidden;
    padding: 5rem 10rem 5rem 10rem;
}

.two .two-inner .project-container{
    position: relative;
    width: 100%;
    height: 60rem;
    background-color: rgba(255, 0, 0, 0.24);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
}

.two .two-inner .project-container .project{
    width: 25rem;
    min-width: 40rem; 
    height: 30rem;
    background-color: gray;
    border: 1px solid red;
}

.two .two-inner .project-container2{
    
} */

.two .project-wrapper {
    position: relative;
    margin: 5rem 10rem;
    color: #2cda9d;
}

.two .project-wrapper .project-container {
    width: 100%;
    height: 25rem;
    position: relative;
    /* border: 1px solid red; */
    background-color: #0d111a;
    border-radius: 16px;
    margin-bottom: 5rem;
}


/* .two .project-wrapper .project-container:hover{
    animation: .2s ease-in 1 hvrandstay forwards;
} */

.two .project-wrapper .project-container > div:hover {
    animation: .2s ease-in 1 hvrandstay forwards;
}

.two .project-wrapper .project-container .project {
    width: 70%;
    max-width: 40rem;
    height: 20rem;
    left: 5rem;
    top: 3rem;
    position: absolute;
    background-color: #1c1b1b;
    /* border: 2px solid gray; */
    border-radius: 7px;
    /* box-shadow: -14px 15px 20px -9px rgba(0,0,0,0.75); */
}

.two .project-wrapper .project-container .project-desc {
    /* border: 2px solid red; */
    /* border-left: 6px solid transparent; */
    width: 31.6rem;
    position: absolute;
    left: 20%;
    top: 15rem;
    border-radius: 7px;
}

.two .project-wrapper .project-container .project-desc > textarea {
    width: 30rem;
    height: 10rem;
    background-color: #1c1b1b;
    border: 1px solid gray;
    border-radius: 7px;
    resize: none;
    color: #2cda9d;
    font-family: Consolas;
    padding: 10px;
    /* box-shadow: -14px 15px 20px -9px rgba(0,0,0,0.75); */
}

.two .project-wrapper .project-container .project-points {
    width: 25rem;
    /* height: 100%; */
    position: absolute;
    background-color: #1c1b1b;
    /* border: 2px solid gray; */
    border-radius: 7px;
    right: 5rem;
    bottom: 9rem;
    margin: 1rem 0 1rem 0;
    /* box-shadow: -14px 15px 20px -9px rgba(0,0,0,0.75); */
}

.two .project-wrapper .project-container .project-points > div {
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    border-radius: 7px;
    /* box-shadow: -14px 15px 20px -9px rgba(0,0,0,0.75); */
    padding-bottom: 7px;
    text-underline-offset: 7px;
}

.two .project-wrapper .project-container .project-points > ul {
    padding-right: 5px;
}

.two .project-wrapper .project-container .project-links {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #1c1b1b;
    /* border: 2px solid red; */
    border-radius: 7px;
    right: 6rem;
    bottom: 8rem;
    /* box-shadow: -14px 15px 20px -9px rgba(0,0,0,0.75); */
}

.two .project-wrapper .project-container .project-links .link-title {
    margin: 10px;
    /* text-align: center; */
    font-size: 1rem;
    border-radius: 7px;
    /* box-shadow: -14px 15px 20px -9px rgba(0,0,0,0.75); */
    padding-bottom: 7px;
    text-underline-offset: 7px;
    visibility: hidden;
}

.two .project-wrapper .project-container .project-links .gitlogo {
    width: 40px;
    height: 40px;
    background-color: #ABA6B2;
    mask-size: 40px;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url(img/github.svg);
    /* margin: 5px; */
    padding: 5px;
    position: absolute;
    bottom: 0;
}

.two .project-wrapper .project-container .project-links .gitlogo:hover {
    /* animation: 1s steps(1, start) infinite hvr; */
    animation: .2s ease-in 1 bkgchange forwards;
}

.two .project-wrapper .project-container .project-links .link-text {
    position: absolute;
    font-size: 1.1rem;
    left: 3rem;
    bottom: 1.1rem;
    visibility: hidden;
}


.three {
    /* background-color: #141822; */
    background-color: #161a25;
    margin: 0;
    width: 100%;
    height: 60rem;
}

.three .third-title {
    font-size: 3pc;
    margin: 0px;
    padding: 10rem 0 0 10rem;
    display: block;
}

.three .more-projects-flex {
    margin: 5rem 20rem 5rem 20rem;
}

@media screen and (max-width: 1300px) {
    .main-wrapper .one .title-flex-container {
        width: 30em;
    }

    .main-wrapper .one {
        height: 70em;
    }
}

@media screen and (max-width: 1500px) {
    .main-wrapper .two .project-wrapper .project-container {
        height: 45rem;
    }

    .main-wrapper .two .project-wrapper .project-container .project-desc {
        right: 10rem;
        /* left: 10%; */
    }

    .main-wrapper .two .project-wrapper .project-container .project-points {
        bottom: 2rem;
    }

    .main-wrapper .two .project-wrapper .project-container .project-links {
        bottom: 2rem;
    }

    .main-wrapper .two {
        height: 170rem;
    }
}
