.sidebar-wrapper {
    margin: 2em;
    padding: 1rem;
    position: fixed;
    background: var(--background-color-secondary);
    left: 0;
    bottom: 0;
    height: fit-content;
    width: fit-content;

    border-radius: 2rem;

    z-index: 100;

    display: flex;
    flex-direction: column;
    gap: 2em;
}

.nav-icon {
    width: 2em;
    height: 2em;

    background: white;
}

.home-icon {
    mask-image: url(img/home.svg);
}

.projects-icon {
    mask-image: url(img/folder.svg);
}

.more-icon {
    mask-image: url(img/server.svg);
}

.about-icon {
    mask-image: url(img/information.svg);
}
